<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallcai.bs.mapper.ShelveMapper">

    <select id="selectAll" resultType="ShelveTask">
        SELECT
        t.id,
        t.execute_time,
        t.city_product_id,
        t.product_no,
        t.show_name,
        t.city_id,
        t.status,
        t.create_time,
        t.update_time
        FROM tbl_shelve_task t
        WHERE t.del_flag = 1
        <if test="cityId != null">
            AND t.city_id = #{cityId}
        </if>
        <if test="from != null">
            AND t.execute_time &gt;= #{from}
        </if>
        <if test="to != null">
            AND t.execute_time &lt;= #{to}
        </if>
        <if test="status != null">
            AND t.status = #{status}
        </if>
        <if test="taskName != null and taskName != ''">
            AND (t.show_name like CONCAT('%',#{taskName},'%') OR t.product_no like CONCAT('%',#{taskName},'%'))
        </if>
        <choose>
            <when test="sort != null and sort != ''">
                ORDER BY ${sort} ${order}, t.product_no
            </when>
            <otherwise>
                ORDER BY t.create_time DESC, t.product_no
            </otherwise>
        </choose>
    </select>

    <insert id="saveTask" parameterType="ShelveTask" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO tbl_shelve_task (execute_time, city_product_id, product_no, show_name, city_id, create_user_id)
            VALUE (
            #{executeTime},
            #{cityProductId},
            #{productNo},
            #{showName},
            #{cityId},
            #{createUserId}
        )
    </insert>

    <update id="delete">
        UPDATE tbl_shelve_task t
        SET t.del_flag = 0
        WHERE t.status = 0
              AND t.del_flag = 1
              AND t.id = #{id}
    </update>

    <update id="updateStatus" parameterType="ShelveTask">
        UPDATE tbl_shelve_task t
        <set>
            t.status = #{status},
            <if test="exception != null">
                t.exception = #{exception}
            </if>
        </set>
        WHERE t.del_flag = 1
        AND t.id = #{id}
    </update>

    <update id="runTask" parameterType="ShelveTask">
        UPDATE tbl_city_product t
        SET t.city_status = 1
        WHERE t.city_product_id = #{cityProductId}
    </update>
    
    
    <select id="getStatus" resultType="ShelveTask">
		SELECT 
			status 
		FROM 
			tbl_shelve_task 
		WHERE
			id=#{taskId}
	</select >
    

</mapper>