<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
        <!-- 需要打印sql的话，value设置为STDOUT_LOGGING -->
		<setting name="logImpl" value="STDOUT_LOGGING" />
		<setting name="logPrefix" value="mapper."/>
	</settings>
</configuration>
