<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallcai.bs.mapper.ivy.IvyWhProductRatioMapper">


    <sql id="Base_Column_List">
        id, city_id, warehouse_inventory_ratio_id, city_product_id, avg_sale_count, city_product_ratio,
        creator, updator, create_time, update_time
    </sql>

    <select id="getWhProductRatio" resultType="com.mallcai.bs.model.ivy.IvyWhProductRatioDO" >
        select
            <include refid="Base_Column_List"/>
        from ivy_sku_inventory_ratio
        <where>
            1 = 1
            <if test="cityId != null">
                and city_id = #{cityId}
            </if>
            <if test="warehouseInventoryatioId != null">
               and  warehouse_inventory_ratio_id = #{warehouseInventoryatioId}
            </if>
        </where>
    </select>

</mapper>