<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallcai.biz.product.dao.mapper.AuditBillMapper">
    <resultMap id="AuditBillMapper" type="com.mallcai.biz.product.model.AuditBillDO">
        <id column="id" property="id"/>
        <result column="flow_id" property="flowId"/>
        <result column="comment" property="comment"/>
        <result column="reply" property="reply"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="operator_id" property="operatorId"/>
        <result column="operator" property="operator"/>
        <result column="is_delete" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="tb">ic_audit_bill</sql>

    <sql id="vals">
        #{flowId},#{comment},#{reply},#{type},#{status},#{operatorId},#{operator},0,now(),now()
    </sql>

    <sql id="cols_all">
        id, <include refid="cols_no_id" />
    </sql>

    <sql id="cols_no_id">
        `flow_id`,`comment`,`reply`,`type`,`status`,`operator_id`,`operator`,`is_deleted`,`create_time`,`update_time`
    </sql>

    <sql id="queryCondition">
        <if test="ids != null and ids.size() > 0">
            and `id` in
            <foreach collection="ids" open="(" item="id" separator="," close=")">#{id}</foreach>
        </if>
        <if test="id != null">and `id` = #{id}</if>
        <if test="type != null">and `type` = #{type}</if>
        <if test="status != null">and `status` = #{status}</if>
        <if test="operatorId != null">and `operator_id` = #{operatorId}</if>

        <if test="is_deleted != null">and `is_deleted` = #{isDeleted}</if>
        <if test="is_deleted == null">and `is_deleted` = 0</if>
    </sql>

    <sql id="sort_id">
        order by `id` desc
    </sql>

    <sql id="sort_order">
        order by `order` asc
    </sql>

    <insert id="create" parameterType="com.mallcai.biz.product.model.AuditBillDO" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="tb"/>
        (<include refid="cols_no_id" />)
        values
        (<include refid="vals" />)
    </insert>

    <delete id="delete">
        delete from <include refid="tb"/>
        where id=#{id}
    </delete>

    <update id="update" parameterType="com.mallcai.biz.product.model.AuditBillDO">
        UPDATE
        <include refid="tb"/>
        <set>
            <if test="flowId != null">`flow_id`=#{flowId},</if>
            <if test="comment != null">`comment`=#{comment},</if>
            <if test="reply != null">`reply`=#{reply},</if>
            <if test="type != null">`type`=#{type},</if>
            <if test="status != null">`status`=#{status},</if>
            <if test="operatorId != null">`operator_id`=#{operatorId},</if>
            <if test="operator != null">`operator`=#{operator},</if>
            <if test="isDeleted != null">`is_deleted` = #{isDeleted},</if>
            `update_time` = now()
        </set>
        where `id` = #{id}
    </update>

    <select id="findById" resultMap="AuditBillMapper">
        select <include refid="cols_all"/>
        from <include refid="tb"/>
        WHERE id = #{id}
        AND `is_deleted` = 0
    </select>

    <select id="findByIds" resultMap="AuditBillMapper">
        select <include refid="cols_all"/>
        from <include refid="tb"/>
        WHERE id in <foreach collection="list" open="(" item="i" separator="," close=")">#{i}</foreach>
        AND `is_deleted` = 0
    </select>

    <select id="list" parameterType="map" resultMap="AuditBillMapper">
        select <include refid="cols_all"/>
        from <include refid="tb"/>
        <where>
            <include refid="queryCondition"/>
        </where>

        <if test="order_by != null">order by #{order_by}</if>
    </select>

    <select id="count" parameterType="map" resultType="long">
        select count(1)
        from <include refid="tb"/>
        <where>
            <include refid="queryCondition"/>
        </where>
    </select>

    <select id="paging" parameterType="map" resultMap="AuditBillMapper">
        select <include refid="cols_all"/>
        from <include refid="tb"/>
        <where>
            <include refid="queryCondition"/>
        </where>

        <if test="order_by != null">order by ${order_by}</if>
        limit #{offset},#{limit}
    </select>
</mapper>
